html,
body {
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.pages {
	position: fixed;
	max-width: 100vh;
	max-height: 100%;
	margin: 0 auto;
}

.page {
	background: #66c6ff;
	position: relative;
	width: calc(100vw + 100vh);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes swing
{
	50%
	{
		top: 10px
	}
	0%, 100%
	{
		top: 0px;
	}
}

.page:hover {
	animation: swing .5s ease;
}

.page-1 {
	background: #96c800;
  transform: rotate(25deg) translate(-2%, 10%);
	transition: transform .5s cubic-bezier(.78,-0.58,1,.51);
}

.page-1.appear {
	transform: rotate(0deg) translate(0, 0);
}

.page-1.disappear {
	transform: rotate(25deg) translate(-2%, -400%);
}

.page-2 {
	transform: rotate(25deg) translate(-10%, 35%);
	transition: transform .5s cubic-bezier(.78,-0.58,1,.51) .3s;
}

.page-2.appear {
	transform: rotate(0deg) translate(0, -100%);
}

.page-2.disappear {
	transform: rotate(25deg) translate(-10%, -500%);
}

.page-3 {
	transform: rotate(25deg) translate(-20%, 63%);
	transition: transform .5s cubic-bezier(.78,-0.58,1,.51) .6s;
}

.page-3.appear {
	transform: rotate(0deg) translate(0, -200%);
}

.page-3.disappear {
	transform: rotate(25deg) translate(-20%, -600%);
}

.page-4 {
	transform: rotate(25deg) translate(-28%, 92%);
	transition: transform .5s cubic-bezier(.78,-0.58,1,.51) .9s;
}

.page-4.appear {
	transform: rotate(0deg) translate(0, -300%);
}

.page-4.disappear {
	transform: rotate(25deg) translate(-28%, -700%);
}

@media (orientation: portrait) {
	.page {
		width: calc(100vh);
	}

	@media (min-aspect-ratio: 5/8) {
		.page {
			width: calc(150vh);
		}
	}

	.page-1 {
	  transform: rotate(25deg) translate(-10%, 10%);
	}

	.page-2 {
		transform: rotate(25deg) translate(-18%, 35%);
	}

	.page-3 {
		transform: rotate(25deg) translate(-25%, 63%);
	}

	.page-4 {
		transform: rotate(25deg) translate(-32%, 92%);
	}
}